
body{
	background-color: pink;
}
#wrapper {
	width: 1140px;
	height: 1000px;
	background: radial-gradient(yellow, pink, fuchsia, SkyBlue, orange);
	margin: 0 auto;
}

#wrapper, #first, #second,  #fourth {
	border: 2px solid red;
}

#first {
	width: 225px;
	margin-left: 100px;
}

#second{
	text-align: center;
}

#three{
	width: 699px;
	margin: 0 auto;
}

#fourth{
	background-color: white;
	heigth: auto;
	margin-top:60px;
}

#fourth p:first-child {
	text-align: center;
}

#fourth p:last-child {
	text-align: right;
}