/*table: first-child tr: first-child {color: blue;}*/

/*#table1 {tr: first-child td: first-child {background-color: red;}*/

/*table:first-child {background: green;}*/

 #table1 tr:first-child td:nth-child(1) {background: blue;}

 #table1 tr:first-child td:nth-child(2) {background: blue;}

 #table1 tr:nth-child(2) td:last-child {background: yellow;}

 #table1 tr:nth-child(3) td:nth-child(odd) {background: pink;}

 #table1 tr:last-child td {background: gray;}





 #table2 tr:nth-child(odd) td:nth-child(even) {background: black;}


#table3 tr:nth-child(even) td:nth-child(even) {background: red;}